@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.font-comfortaa {
  font-family: "Comfortaa";
}

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(160, 160, 160);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(252, 252, 252, 0);
}
